@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic);

/* =Typography
-----------------------------------------------------------------------------*/
body {
	background: #eee url(../img/body-bg.png) top center;
    color: #3C4E5A;
}

h1 {
    font-size: 2em;
    font-family: 'Cuprum', sans-serif;
    position: relative;
}

h1 span {
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

/* =Nav
-----------------------------------------------------------------------------*/
.left-nav {
    margin: 0 0 1em 0;
    list-style: none;
}

.left-nav li {
    border-bottom: 1px solid #E5E5E5;
}

.left-nav li a {
    padding: 7px 10px;
    color: #3C4E5A;
    display: block;
    text-decoration: none;
}

.left-nav li a:hover {
    background: #eee;
    text-shadow: 0 1px 0 #fff;
}

.left-nav li.active {
    border-bottom-color: #fff;
}

.left-nav li.active a {
    background: #3887b3;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    cursor: default;
}

.left-nav li.divider {
    background: none;
    border: none;
    height: 2em;
}

li.red-button,
li.gray-button {
    margin: 0 0 1em;
    border: none;
}

.red-button a,
a.red-button {
    background: #89101a;
    color: #fff !important;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.red-button a:hover,
a.red-button:hover {
    background: #b90400 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) !important;
}

.red-button a:active,
a.red-button:active {
    background: #9b0300 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) !important;
}

.gray-button a,
a.gray-button {
    background: #eee;
    border: none;
    color: #3C4E5A;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none !important;
    position: relative;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.gray-button a:hover,
a.gray-button:hover {
    background: #ddd !important;
    text-shadow: 0 1px 0 #fff;
}

.gray-button a:active,
a.gray-button:active {
    background: #ccc !important;
    text-shadow: 0 1px 0 #fff;
}

.caret {
    position: absolute;
    right: 15px;
    top: 6px;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    margin-top: 8px;
    margin-left: 2px;
}

.caret-inverse {
    position: absolute;
    right: 15px;
    top: 6px;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    margin-top: 8px;
    margin-left: 2px;
}



/* =Layout
-----------------------------------------------------------------------------*/
html, body{
    height: 100%;
}

.container {
	width: 82%;
    min-width: 1000px;
    max-width: 1200px;
	margin: 0 auto;
}

#wrapper {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.limiter {
    padding-bottom: 80px;
}

footer {
	margin-top: -60px;
	height: 40px;
    min-width: 1000px;
    padding: 20px 0 0 0;
}


/* =Header
-----------------------------------------------------------------------------*/
.top-panel {
    background: #262a30;
    height: 46px;
    margin: 0 0 20px;
    position: relative;
}

.top-panel .container {
    position: relative;
    height: 46px;
}

.top-panel .container .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -99999px;
    background: url(../img/sprite.png);
    width: 128px;
    height: 32px;
    margin: -16px 0 0 -64px;
}

.top-panel .container .loading-ball {
    background: url(../img/sprite.png) 0 -32px;
    width: 16px;
    height: 16px;
    display: block;
    top: 50%;
    margin: -7px 0 0 140px;
    position: absolute;
    left: 2%;
    cursor: help;
    display: none;
}

.top-panel .top-user-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -14px;
    height: 28px;
}

.top-panel .user-info {
    float: right;
    height: 28px;
    line-height: 28px;
    margin: 0 15px 0 0;
    color: #fff;
}

.top-panel .user-info .balance {
    border: 1px solid #535c69;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    padding: 0 8px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

.top-panel .user-info .balance:hover {
    color: #eee;
    background: #31363e;
}

.top-panel .user-info .balance:active {
    color: #ddd;
    background: #13161a;
}

.top-panel .user-info .balance.red {
    color: #ff7b7e;
}

.top-panel .top-user-menu .menu-exit {
    background-image: url(../img/sprite.png);
    background-position: -16px -115px;
    display: block;
    height: 28px;
    width: 28px;
    float: right;
    margin: 1px 0 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.top-panel .top-user-menu .menu-exit:hover {
    background-position: -44px -115px;
}

.top-panel .top-user-menu .menu-exit:active {
    background-position: -72px -115px;
}

.top-panel .top-user-menu .menu-button {
    background-image: url(../img/sprite.png);
    background-position: -16px -32px;
    display: block;
    height: 28px;
    float: right;
    margin-right: 10px;
    position: relative;
    padding: 0 0 0 30px;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    text-shadow: 0 -1px 0 #000;
}

.top-panel .top-user-menu .menu-button .icon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -8px;
}

.top-panel .top-user-menu .menu-button .icon-gear {
    background: url(../img/sprite.png) 0 -48px;
}

.top-panel .top-user-menu .menu-button i.r {
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -173px -32px;
    height: 28px;
    width: 10px;
    right: -10px;
}

.top-panel .top-user-menu .menu-button:hover {
    background-position: -16px -59px;
    color: #eee;
}

.top-panel .top-user-menu .menu-button:hover i.r {
    background-position: -173px -59px;
}

.top-panel .top-user-menu .menu-button:active,
.top-panel .top-user-menu .menu-button.active {
    background-position: -16px -87px;
    color: #ddd;
    line-height: 30px;
}

.top-panel .top-user-menu .menu-button:active i.r,
.top-panel .top-user-menu .menu-button.active i.r {
    background-position: -173px -87px;
}

.top-panel .top-user-menu .menu-button:active .icon,
.top-panel .top-user-menu .menu-button.active .icon {
    margin-top: -7px;
    opacity: 0.8;
}

.top-panel .top-menu {
    margin: 0;
    height: 46px;
}

.top-panel .top-menu li {
    list-style-type: none;
    line-height: 46px;
    height: 46px;
    float: left;
}

.top-panel .top-menu li a,
.top-panel .top-menu li b {
    display: block;
    line-height: 46px;
    height: 46px;
    padding: 0 20px;
}

.top-panel .top-menu li a sup,
.top-panel .top-menu li b sup {
    background: #920000;
    color: #fff;
    margin: 0 0 -10px 8px;
    text-decoration: none !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 2px 5px;
    border: none;
}

.top-panel .top-menu li a.events-link,
.top-panel .top-menu li b.events-link {
    text-decoration: none !important;
}

.top-panel .top-menu li a.events-link span {
    text-decoration: underline;
}

.top-panel .top-menu li b {
    background: #474d55;
    color: #eee;
    text-shadow: 0 -1px 0 #000;
    font-weight: normal;
}

.top-panel .top-menu li b,
.top-panel .top-menu li a:link,
.top-panel .top-menu li a:link span,
.top-panel .top-menu li a:visited,
.top-panel .top-menu li a:visited span {
    color: #fff;
}

.top-panel .top-menu li a:hover,
.top-panel .top-menu li a:hover span,
.top-panel .top-menu li a:active,
.top-panel .top-menu li a:active span {
    color: #ddd;
    background: #31363e;
}



/* =Content
-----------------------------------------------------------------------------*/
.main-content {
    background: #fff;
    padding: 20px 0;
    border: 1px solid #ddd;
    border-bottom: 3px solid #ccc;
}


/* =16x16 icons
-----------------------------------------------------------------------------*/
.icon-16x16 {
    display: block;
    height: 16px;
    width: 16px;
}

.icon-16x16.shape {
    background: url(../img/sprite.png) 0 -157px;
}

.icon-16x16.cursor {
    background: url(../img/sprite.png) -16px -157px;
}

.icon-16x16.menu {
    background: url(../img/sprite.png) -32px -157px;
}



/* =Misc
-----------------------------------------------------------------------------*/
.pull-right {
    float: right;
}

.container-padding {
    padding: 0 20px;
}

.global-loading-bar {
    position: absolute;
    top: 46px;
    height: 0;
    background: #ccc url(../img/global-loading.png);
    width: 100%;
    opacity: 0;
}

.text-right {
    text-align: right;
}

.row {
    margin: 0;
}

.badge {
    background: #3C4E5A;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 2px 0.7ex;
    color: #fff;
    text-shadow: none;
    font-weight: normal !important;
}

a.badge {
    text-decoration: none;
}

a.badge:hover {
    background: #506877;
    color: #fff;
}

.active .badge {
    color: #3C4E5A;
    background: #fff;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

/* =Alerts
-----------------------------------------------------------------------------*/
.alert {
    margin: 0 0 1em;
    padding: 6px 10px;
    background: #eee;
    color: #333;
    border: 1px solid #ddd;
    position: relative;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.alert-error {
    background: #fff0eb;
    color: #663131;
    border: 1px solid #e4d5d0;
}

.alert-attention {
    background: #fffcdd;
    color: #545037;
    border: 1px solid #dfdcc0;
}

.alert-notify {
    background: #e6f4fd;
    color: #384248;
    border: 1px solid #cedde7;
}

.alert-success {
    background: #dcfff1;
    color: #1e2824;
    border: 1px solid #c7ebdc;
}

.alert .hide,
.alert .close {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    display: block;
    text-decoration: none;
    color: #444;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 10px;
}

.alert .hide:hover,
.alert .close:hover {
    color: #333;
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.3);
}

.alert .hide:active,
.alert .close:active {
    color: #222;
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.5);
    line-height: 15px;
}

.alert .hide {
    right: 32px;
}

/* =Forms
-----------------------------------------------------------------------------*/
.forms {
    background: #eee;
    padding: 20px;
    border: 1px solid #ddd;
}

.forms label {
    display: inline-block;
}

.forms .form-item {
    position: relative;
}

.forms .form-item span.error {
    position: absolute;
    left: 335px;
    top: 2.1em;
    width: 220px;
}

.forms input.text {
    width: 320px;
    margin: 0 0 1.3em;
    display: block;
    padding: 0 3px;
}

.forms input.btn {
    margin-top: 0.6em;
}

.select-label {
    display: block;
    margin: 0 0 1.2em;
}

.forms ul li {
    margin: 0;
}


/* =Tables
-----------------------------------------------------------------------------*/
.table-small {

}

.table-small td {
    padding: 3px 9px 2px;
    font-size: 0.75em;
}

.table-small tr td:first-child {
    width: 55%;
}

.table-small tr td:last-child {
    width: 45%;
}


.collapsable-header {
    background: #ddd;
    padding: 7px 9px;
    display: block;
}


/* =Footer
-----------------------------------------------------------------------------*/
footer {
    background: #718592;
    color: #b9d0de;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

footer .text-right a {
    margin-left: 2ex;
}

footer a:link,
footer a:visited {
    color: #b9d0de;
}

footer a:hover,
footer a:active {
    color: #9db0be;
}

.bottom-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: -99999px;
    background: url(../img/sprite.png) -130px 0;
    width: 128px;
    height: 32px;
    margin: -16px 0 0 -64px;
}


/* =GID's
-----------------------------------------------------------------------------*/
.g_id {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    display: block;
    padding: 2px;
    width: 14.5ex;
    font-family: Tahoma, Arial, sans-serif;
}

.g_id .shade {
    background: url(../img/g_id_shade.png) 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 1px;
    width: 99%;
    height: 99%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.g_id span {
    display: block;
}

.g_id .id {
    position: absolute;
    left: 1px;
    top: 1px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}

.g_id .region {
    position: absolute;
    right: 1px;
    top: 1px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

.g_id .region i label {
    background: url(../img/rf.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block;
}

.g_id .id {
    width: 10ex;
    height: 1.7em;
    line-height: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.14ex;
}

.g_id .region {
    width: 4ex;
    height: 1.7em;
    padding-left: 0.3em;
    text-align: center;
}

.g_id .region b {
    position: absolute;
    font-weight: normal;
    font-size: 0.9em !important;
    height: 0.85em;
    line-height: 0.85em;
    top: 0.2em;
    width: inherit;
    display: block;
    text-align: center;
}

.g_id .region em {
    font-style: normal;
    font-size: 1em !important;
}

.g_id .region i {
    position: absolute;
    font-size: 0.45em !important;
    height: 0.4em;
    line-height: 0.4em;
    top: 2.75em;
    font-style: normal;
    width: inherit;
    display: block;
}

.g_id.big {
    font-size: 22px !important;
    line-height: 36px;
    height: 36px;
}

.g_id.small {
    font-size: 13px !important;
    line-height: 22px;
    height: 22px;
}

.g_id.small .region em {
    font-size: 1.2em !important;
}



/* GID Styles - default */
.g_id.default {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.default span.id {
    border: 1px solid #666;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 99%;
}


/* GID Styles - standart */
.g_id.standart {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.standart span {
    border-color: #666;
}

.g_id.standart .region {
    text-align: left;
}

.g_id.standart .region i {
    padding-left: 0;
}

.g_id.small.standart .region i label {
    width: 3.3ex;
    height: 1.2em;
    top: -0.6em;
    right: 1ex;
}

.g_id.big.standart .region i label {
    width: 3ex;
    height: 1em;
    top: -0.35em;
    right: 0.8em;
}

.g_id.standart .region b {
    margin-left: -0.2em;
}


/* GID Styles - tranzit */
.g_id.tranzit {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.tranzit span {
    border-color: #666;
}

.g_id.tranzit .region {
    text-align: left;
}

.g_id.tranzit .region i {
    padding-left: 0;
}

.g_id.small.tranzit .region i label {
    width: 3.3ex;
    height: 1.2em;
    top: -0.6em;
    right: 1ex;
}

.g_id.big.tranzit .region i label {
    width: 3ex;
    height: 1em;
    top: -0.35em;
    right: 0.8em;
}

.g_id.tranzit .region b {
    margin-left: -0.2em;
}



/* GID Styles - commercial */
.g_id.commercial {
    background: #ffed24;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.g_id.commercial span {
    border-color: #666;
}

.g_id.commercial .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.commercial .region i label {
    display: none;
}


/* GID Styles - police */
.g_id.police {
    color: #fff;
    background: #064db9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.g_id.police span {
    border-color: #fff;
}

.g_id.police .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.police .region i label {
    display: none;
}


/* GID Styles - military */
.g_id.military {
    color: #fff;
    background: #1f1a17;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.g_id.military span {
    border-color: #fff;
}

.g_id.military .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.military .region i label {
    display: none;
}


/* GID Styles - diplomacy */
.g_id.diplomacy {
    color: #fff;
    background: #df0000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

.g_id.diplomacy span {
    border-color: #fff;
}

.g_id.diplomacy .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.diplomacy .region i label {
    display: none;
}



/* GID Styles - federal */
.g_id.federal {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.federal span {
    border-color: #666;
}

.g_id.federal .region {
    text-align: left;
}

.g_id.federal .region i {

}

.g_id.federal .region b,
.g_id.federal .region em {
    display: none;
}

.g_id.federal .region i {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.g_id.federal .region i label {
    width: 99%;
    height: 100%;
    left: 0;
    top: 0;
}


#g_id_preview {
    position: absolute;
    top: -7px;
    left: 26px;
}


/* =Heading
-----------------------------------------------------------------------------*/
.heading_icon {
    background: url(../img/heading-arrows.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 4px -4px -3px;
}

.hi_n {
    background-position: 0 0;
}

.hi_ne {
    background-position: -16px 0;
}

.hi_e {
    background-position: -32px 0;
}

.hi_se {
    background-position: -48px 0;
}

.hi_s {
    background-position: -64px 0;
}

.hi_sw {
    background-position: -80px 0;
}

.hi_w {
    background-position: -96px 0;
}

.hi_nw {
    background-position: -112px 0;
}


/* =Events
-----------------------------------------------------------------------------*/
.event-item {

}

.event-item .date {
    font-size: 0.8em;
    display: block;
}


/* ==Indicator
-----------------------------------------------------------------------------*/
.signal-indicator {
    height: 9px;
    width: 47px;
}

.si-level-0 {
    background-position: 0 -72px;
}

.si-level-1 {
    background-position: 0 -63px;
}

.si-level-2 {
    background-position: 0 -54px;
}

.si-level-3 {
    background-position: 0 -45px;
}

.si-level-4 {
    background-position: 0 -36px;
}

.si-level-5 {
    background-position: 0 -27px;
}

.si-level-6 {
    background-position: 0 -18px;
}

.si-level-7 {
    background-position: 0 -9px;
}

.si-level-8 {
    background-position: 0 0;
}



/* =Events
-----------------------------------------------------------------------------*/
#load_more {
    width: 100%;
}


/* =Buttons
-----------------------------------------------------------------------------*/


/* =Buttons separated
-----------------------------------------------------------------------------*/
.btn.active {
    filter: none;
    background: none;
    background: #eee;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #000;
    cursor: default;
}


.btn-parts .btn-part-left,
.btn-parts .btn-part-right {
    position: relative;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 16px;
    border-radius: 4px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
    background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
    background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
    background-image: linear-gradient(top, #ffffff, #e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
    border: 1px solid #dadada;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom-color: #a9a9a9;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 1px 0 rgba(255, 255, 255, 0.6);
    text-shadow: 0 1px 0px #ffffff;
    color: #000;
}

.btn-parts .btn-part-left:hover,
.btn-parts .btn-part-right:hover {
    filter: none;
    background: none;
    background: #eee;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    text-decoration: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #000;
}

.btn-parts .btn-part-left {
    float: left;
    -webkit-border-radius: 4px 0px 0px 4px;
            border-radius: 4px 0px 0px 4px;
    border-right: none;
}

.btn-parts .btn-part-right {
    float: left;
    -webkit-border-radius: 0px 4px 4px 0px !important;
            border-radius: 0px 4px 4px 0px !important;
    border-left: 1px solid #ddd;
}


/* =Map
-----------------------------------------------------------------------------*/
#map {
    border: 1px solid #ddd;
}

#map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
#map:-moz-full-screen { width: 100% !important; height: 100% !important; }
#map:full-screen { width: 100% !important; height: 100% !important; }

.leaflet-control-zoom-fullscreen { background-image: url(../mapping-tools/leaflet/plugins/leaflet-fullscreen/icon-fullscreen.png); }
.leaflet-control-zoom-fullscreen.last { margin-top: 5px }

.map-container {
    position: relative;
    padding-bottom: 15px;
    height: 400px;
    width: 100% !important;
}


/* Map shadows */
.map-container .shadow-top,
.map-container .shadow-bottom {
    height: 10px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.map-container .shadow-top {
    background: url(../img/shadow-top.png) no-repeat center bottom;
    top: 0;
}

.map-container .shadow-bottom {
    background: url(../img/shadow-bottom.png) no-repeat top center;
    bottom: 15px;
}

.map-container .ui-resizable-s {
    height: 14px;
    width: 100%;
    background: #eee url(../img/sprite.png) no-repeat center -142px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    cursor: ns-resize;
    position: absolute;
    bottom: -1px;
}


/* Map misc */
#current-fleet-and-car .g_id {
    display: inline-block;
    position: absolute;
    bottom: 1px;
    margin-left: 10px;
}


/* Map Notice */
.map-notice {
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    width: 40%;
    margin-left: -20%;
}


/* Map top panel */
.map-top-panel {
    margin-bottom: 1em;
}

.map-instruments {
    margin-bottom: 5px;
}

.map-instruments .btn-icon {
    padding: 5px 6px;
}

#focus-block {
    display: block;
    margin-left: 15px;
}

#focus,
#auto-focus {
    float: left;
}

#fleets-menu {
    width: 30%;
    float: left;
    margin-right: 15px;
}

#cars-menu {
    width: 40%;
    float: left;
    margin-right: 10px;
}

button.toggler {
    position: relative;
    padding-left: 25px;
}

button.toggler i {
    width: 13px;
    height: 23px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 2px;
    background-image: url(../img/sprite.png);
}

button.toggler-off i {
    background-position: -104px -117px;
}

button.toggler-on i {
    background-position: -117px -117px;
}

#togglers .btn {
    float: right;
    margin-left: 15px;
}

#auto-focus {
    padding: 6px 6px 6px 16px;
}

#auto-focus i {
    left: 50%;
    margin-left: -7px;
}


/* Time machine */
#timemachine-button {
    float: right;
    line-height: 26px;
    height: 26px;
    font-size: 0.95em;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 0 10px;
    text-decoration: none;
    color: #222;
}

#timemachine-button:hover {
    border-color: #999;
    color: #111;
}

#timemachine-button.active {
    border-color: #ccc;
    background: #ddd;
    color: #000;
}

#timemachine-button.active:hover {
    border-color: #888;
    color: #000;
}

#time-machine .days {
    position: relative;
    height: 20px;
    line-height: 20px;
    background: #eee;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #ccc;
    padding: 1px;
    display: none;
}

#time-machine .days .day {
    display: block;
    width: 3.33333333%;
    max-width: 3.33333333%;
    padding: 0px;
    float: right;
    text-align: center;
    height: 20px;
    line-height: 22px;
    font-size: 0.9em;
    text-decoration: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

#time-machine .days .day:hover {
    background: #ccc;
}

#time-machine .days .day.active {
    background: #999;
    color: #fff;
    text-shadow: 0 1px 0 #777;
}

#time-machine .days .day.hover {

}

#time-machine .days .day.active {

}


/* Marker with info */
.marker-with-info {
    position: relative;
}

.marker-with-info .icon {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 2;
    top: -8px;
    left: -8px;
}

.marker-with-info .shadow {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: -11px;
    left: -15px;
    background: url(/control/map/img/markers/heading/flat_shadow.png);
}

.marker-with-info .g_id.small {
    font-size: 11px !important;
    height: 19px !important;
    line-height: 19px;
}

.marker-with-info .info-block {
    background: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow:  0px 3px 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 3px 14px 0px rgba(0, 0, 0, 0.5);
    padding: 2px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0.82;
    transition: opacity, background 100ms linear;
    -webkit-transition: opacity, background 100ms linear;
}

.marker-with-info .info-block:hover {
    opacity: 1;
    background: rgba(244, 244, 244, 1);
}

.marker-with-info .info-block i.arm {
    display: block;
    height: 9px;
    width: 9px;
    position: absolute;
    top: -7px;
    left: -7px;
    background: url(/control/map/img/markers/car-label-arm.png);
}

.marker-with-info .info-block .name {
    margin: 0 0 0.2em 0;
    text-shadow: 0 1px 0 #fff;
    font-size: 0.85em;
    line-height: 1.3em;
    padding: 1px 1px 0;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
}

.marker-with-info .info-block .info {
    margin: 0;
    font-size: 0.8em;
    color: #222;
    padding: 3px 1px 0;
}

.marker-with-info .info-block .info li {
    list-style-type: none;
}

.tooltip-content table {
    width: 100%;
    margin-top: 10px;
}

.tooltip-content table td {
    padding: 2px 10px 2px 0;
    border: none;
}

.tooltip-content table th {
    padding: 2px 10px 2px 0;
    font-weight: bold;
    border: none;
}


/* Map bottom panel */
.map-bottom-panel {
    font-size: 0.85em;
    background: #eee;
    display: none;
}

.bottom-panel .panel-content {
    padding: 10px 20px;
}

.bottom-panel table {
    margin: 0;
    width: 100%;
}

.bottom-panel table th {
    padding: 1px 0 !important;
    text-align: left;
    font-weight: bold;
}

.bottom-panel table td {
    padding: 1px 10px !important;
    text-align: left;
}

.bottom-panel .badge {
    margin-left: -0.7ex;
}


/* =Geozones
-----------------------------------------------------------------------------*/
