

/* Notify */
.notify {
    padding: 10px 15px;
    text-shadow: 0 -1px 0 #000;
    z-index: 2001;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    width: 180px;
    margin: 0 0 0 -105px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
}

.notify h2 {
    font-size: 18px;
}

.notify * {
    text-align: center;
}

.notify .loading_area {
    height: 46px;
    width: 46px;
    margin: 5px auto 0;
}

/* Loading */
body i.loading {
    position: absolute;
    width: 46px;
    height: 46px;
    display: block;
    margin: -23px 0 0 -23px;
    background: url(../img/icons/spinner.png);
    z-index: 100;
}

body i.loading.loading_global {
    top: 50%;
    left: 50%;
}

body i.loading.micro {
    background: url(../img/icons/micro_spinner.gif);
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}

h1 {
    margin-bottom: 0.5em;
}

.clear {
    clear: both;
}

.page-header {
    padding-bottom: 0;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.main_content {

}

#registered_data {

}

.table .label {
    display: block;
    text-align: center;
}

#registered_data table td {
    vertical-align: middle;
}

#tools_menu {
    padding: 0 0 1em;
}

.modal_overlay {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
}

.settings_table {

}

.settings_table th {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.settings_table td {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-bottom: 5px;
}

.datepicker {
    margin: 0 0 1em;
}

.datepicker * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.g_id {
    border: 1px solid #ccc;
    padding: 0.2em;
    width: 78px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    background: #fff;
    margin: 0 0.2em;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

#where_is_my_car {
    display: none;
}

#refresh_data {
    margin-left: 10px;
}

.select_car {
    margin: 0 0 0 1em;
}

.select_car ul li a {
    position: relative;
    padding: 6px 110px 6px 10px;
}

.select_car ul li a .g_id {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
}

.header_tools {
    position: relative;
    height: 40px;
}

.map_notice {
    padding: 25px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1010;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.map_notice p {
    font-size: 15px;
}

.info_window_content {
    padding: 15px 0 0 0;
}

.marker_label {
    position: relative;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-shadow: 0 -1px 0 #333;
    font-size: 11px;
    display: block;
    padding: 0 4px 2px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
}

.marker_label .g_id {
    margin: 4px 0 3px;
    text-shadow: none;
}

.cg_soc {
    border: 1px solid #b4dbef;
    background: #f9fdff url(../img/bg/blue_gradient.png) repeat-x bottom;
    padding: 20px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cg_soc * {
    color: #1b4e68;
}

.socials {
    margin: 0 0 15px;
}

.socials a {
    display: block;
    width: 41px;
    height: 41px;
    float: left;
    margin: 0 10px 0 0;
}

.socials a.vk {
    background: url(../img/icons/vkontakte.png);
}

.socials a.fb {
    background: url(../img/icons/facebook.png);
}

.hero_login {
    text-shadow: 0px 1px 0px #ffffff;
    width: 600px;
    margin: 40px auto 30px;
    -webkit-box-shadow:  0px 5px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow:  0px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

.hero_login h1 {
    color: #444;
    margin: 0 0 0.5em;
}

.city {
    background: url(../img/bg/city.jpg) no-repeat top center;
    background-size: cover;
}

.city hr {
    opacity: 0.4;
    height: 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
}