body {

}

/*a {
    text-decoration: underline;
}

a:link, a:visited {
    color: #005580;
}

a:hover, a:active {
    color: #08C;
}*/

/* Notify */
.notify {
    padding: 10px 15px;
    text-shadow: 0 -1px 0 #000;
    z-index: 2001;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    width: 180px;
    margin: 0 0 0 -105px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
}

.notify h2 {
    font-size: 18px;
}

.notify * {
    text-align: center;
}

.notify .loading_area {
    height: 46px;
    width: 46px;
    margin: 5px auto 0;
}

.logo {
    background: url(../img/logos/logo.png) no-repeat 0 4px;
    height: 40px;
    width: 128px;
    display: block;
    margin-right: 30px;
    padding: 0 !important;
}

/* Loading */
body i.loading {
    position: absolute;
    width: 46px;
    height: 46px;
    display: block;
    margin: -23px 0 0 -23px;
    background: url(../img/icons/spinner.png);
    z-index: 100;
}

body i.loading.loading_global {
    top: 50%;
    left: 50%;
}

body i.loading.micro {
    background: url(../img/icons/micro_spinner.gif);
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}

h1 {
    margin-bottom: 0.5em;
}

.clear {
    clear: both;
}

.page-header {
    padding-bottom: 0;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.main_content {

}

.table .label {
    display: block;
    text-align: center;
}

#registered_data table td {
    vertical-align: middle;
}

#tools_menu {
    padding: 0 0 1em;
}

.modal_overlay {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
}

.settings_table {

}

.settings_table th {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.settings_table td {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-bottom: 5px;
}

.datepicker {
    margin: 0 0 1em;
}

.datepicker * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.g_id {
    border: 1px solid #ccc;
    padding: 0.2em;
    width: 78px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    background: #fff;
    margin: 0 0.2em;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

#where_is_my_car {
    display: none;
}

.select_car {
    display: none;
}

#refresh_data {
    margin-left: 10px;
}

.select_car {
    margin: 0 0 0 1em;
}

.select_car ul li a {
    position: relative;
    padding: 6px 110px 6px 10px;
}

.select_car ul li a .g_id {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
}

.header_tools {
    position: relative;
    height: 40px;
}

.map_notice {
    padding: 25px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1010;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.map_notice p {
    font-size: 15px;
}

.info_window_content {
    padding: 15px 0 0 0;
}

.marker_label {
    position: relative;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-shadow: 0 -1px 0 #333;
    font-size: 11px;
    display: block;
    padding: 0 4px 2px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.9);
}

.marker_label .g_id {
    margin: 4px 0 3px;
    text-shadow: none;
}

.cg_soc {
    border: 1px solid #b4dbef;
    background: #f9fdff url(../img/bg/blue_gradient.png) repeat-x bottom;
    padding: 20px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cg_soc * {
    color: #1b4e68;
}

.socials {
    margin: 0 0 15px;
}

.socials a {
    display: block;
    width: 41px;
    height: 41px;
    float: left;
    margin: 0 10px 0 0;
}

.socials a.vk {
    background: url(../img/icons/vkontakte.png);
}

.socials a.fb {
    background: url(../img/icons/facebook.png);
}

.hero_login {
    text-shadow: 0px 1px 0px #ffffff;
    width: 600px;
    margin: 40px auto 30px;
    -webkit-box-shadow:  0px 5px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow:  0px 5px 15px 0px rgba(0, 0, 0, 0.8);
}

.hero_login h1 {
    color: #444;
    margin: 0 0 0.5em;
}

#car_name_info .badge {
    text-shadow: none;
}

.info_tab_header {
}

.navbar-fixed-top {
    z-index: 3;
    position: relative;
}

.calendar_place {
    width: 240px;
    opacity: 0.8;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    top: -275px;
    line-height: 25px;
    color: #fff;
    left: 50%;
    margin-left: -120px;
    height: 270px;
    z-index: 2;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #232323, #191919);
    background-image: -ms-linear-gradient(top, #232323, #191919);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#232323), to(#191919));
    background-image: -webkit-linear-gradient(top, #232323, #191919);
    background-image: -o-linear-gradient(top, #232323, #191919);
    background-image: linear-gradient(top, #232323, #191919);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#191919', GradientType=0);
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.calendar_place:hover {
    opacity: 0.96;
}

.opened .caret {
    border-top: 4px solid transparent;
    border-bottom: 4px solid #fff;
    margin-top: 7px;
    margin-left: 2px;
}

.closed .caret {
    border-top: 4px solid #fff;
    border-bottom: 4px solid transparent;
    margin-top: 11px;
    margin-left: 2px;
}

.calendar_place a.opener {
    text-decoration: none;
}

.calendar_place a.opener:link,
.calendar_place a.opener:visited {
    color: #999;
}

.calendar_place a.opener:hover,
.calendar_place a.opener:active {
    color: #fff;
}

.calendar_place a.opener:hover .caret {
    opacity: 1;
}

.map_container {
    position: relative;
}

.map_container .side_block {
    display: inline-block;
    position: absolute;

    height: 130px;

    *display: inline;
    /* IE7 inline-block hack */
    width: 220px;

    *zoom: 1;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    *margin-left: .3em;
}

.map_container .side_block.closed .side_block_content {
    display: none;
}

.map_container .side_block b {
    display: block;
    cursor: pointer;
}

.map_container .side_block .caret {
    float: right;
    margin-top: 7px;
}

.map_container .caret {
    border-bottom-color: transparent;
    border-top-color: #000;
}

.map_container .closed .caret {
    border-bottom-color: #000;
    border-top-color: transparent;
    margin-top: 3px;
}

.map_container .side_block table th {
    width: 115px;
}

.map_container .side_block table td {
    width: 105px;
}

.map_container .side_block .progress {
    height: 7px !important;
}

.map_container .side_block table td,
.map_container .side_block table th {
    text-align: left;
    padding: 3px 5px 3px 0;
    font-size: 0.85em;
    line-height: 1.2em;
}

.side_block_content {
    padding-top: 5px;
}

.map_container #right_side table {
    width: 100%;
}

#registered_info {
    bottom: 5px;
    right: 4px;
    display: none;
}

#registered_data {
    bottom: 5px;
    right: 250px;
    display: none;
}

.heading_icon {
    background: url(../img/icons/arrows.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 4px -5px -3px;
}

.hi_n {
    background-position: 0 0;
}

.hi_ne {
    background-position: -16px 0;
}

.hi_e {
    background-position: -32px 0;
}

.hi_se {
    background-position: -48px 0;
}

.hi_s {
    background-position: -64px 0;
}

.hi_sw {
    background-position: -80px 0;
}

.hi_w {
    background-position: -96px 0;
}

.hi_nw {
    background-position: -112px 0;
}

.indiacator {
    height: 16px;
    margin-bottom: 0;
}