body {

}

/*a {
    text-decoration: underline;
}

a:link, a:visited {
    color: #005580;
}

a:hover, a:active {
    color: #08C;
}*/

.navbar .divider-vertical {
    margin: 0;
}

/* Notify */
.notify {
    padding: 10px 15px;
    text-shadow: 0 -1px 0 #000;
    z-index: 2001;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    width: 180px;
    margin: 0 0 0 -105px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
}

.notify h2 {
    font-size: 18px;
}

.notify * {
    text-align: center;
}

.notify .loading_area {
    height: 46px;
    width: 46px;
    margin: 5px auto 0;
}

.thin {
    font-weight: normal;
}

.logo {
    background: url(../img/logos/logo.png) no-repeat 0 4px;
    height: 40px;
    width: 128px;
    display: block;
    margin-right: 30px;
    padding: 0 !important;
}

/* Loading */
body i.loading {
    position: absolute;
    width: 46px;
    height: 46px;
    display: block;
    margin: -23px 0 0 -23px;
    background: url(../img/icons/spinner.png);
    z-index: 100;
}

body i.loading.loading_global {
    top: 50%;
    left: 50%;
}

body i.loading.micro {
    background: url(../img/icons/micro_spinner.gif);
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
}

h1 {
    margin-bottom: 0.5em;
}

.clear {
    clear: both;
}

.page-header {
    padding-bottom: 0;
    margin: 18px 0 0;
    border: none;
}

#map {
    width: 100%;
    height: 600px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.main_content {

}

.table .label {
    display: block;
    text-align: center;
}

#registered_data table td {
    vertical-align: middle;
}

#tools_menu {
    padding: 0 0 1em;
}

.modal_overlay {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
}

.settings_table {

}

.settings_table th {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.settings_table td {
    vertical-align: middle;
    font-weight: normal;
    text-align: left;
    padding-bottom: 5px;
}

.datepicker {
    margin: 0 0 5px;
}

.datepicker * {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}


/* GID */
.g_id {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    display: block;
    padding: 2px;
    width: 7.3em;
}

.g_id .shade {
    background: url(../img/bg/g_id_shade.png) 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.g_id span {
    display: block;
}

.g_id .id {
    position: absolute;
    left: 1px;
    top: 1px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
}

.g_id .region {
    position: absolute;
    right: 1px;
    top: 1px;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

.g_id .region i label {
    background: url(../img/bg/rf.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: block;
}

.g_id .id {
    width: 5em;
    height: 1.5em;
    line-height: 1.6em;
}

.g_id .region {
    width: 2em;
    height: 1.5em;
    padding-left: 0.3em;
    text-align: center;
}

.g_id .region b {
    position: absolute;
    font-weight: normal;
    font-size: 0.85em;
    height: 0.85em;
    line-height: 0.85em;
    top: 0.2em;
    width: inherit;
    display: block;
    text-align: center;
}

.g_id .region em {
    font-style: normal;
    font-size: 1em;
}

.g_id .region i {
    position: absolute;
    font-size: 0.4em;
    height: 0.4em;
    line-height: 0.4em;
    top: 2.75em;
    font-style: normal;
    width: inherit;
    display: block;
}

.g_id.big {
    font-size: 1.5em;
    line-height: 1.5em;
    height: 1.5em;
}

.g_id.small {
    font-size: 0.9em;
    line-height: 1.5em;
    height: 1.5em;
}

.g_id.small .region em {
    font-size: 1.1em;
}



/* GID Styles - default */
.g_id.default {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.default span.id {
    border: 1px solid #666;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 99%;
}


/* GID Styles - standart */
.g_id.standart {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.standart span {
    border-color: #666;
}

.g_id.standart .region {
    text-align: left;
}

.g_id.standart .region i {
    padding-left: 0;
}

.g_id.small.standart .region i label {
    width: 0.6em;
    height: 0.5em;
    top: -0.3em;
    right: 0.3em;
}

.g_id.big.standart .region i label {
    width: 0.9em;
    height: 0.65em;
    top: -0.3em;
    right: 0.5em;
}

.g_id.standart .region b {
    margin-left: -0.3em;
}


/* GID Styles - tranzit */
.g_id.tranzit {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.tranzit span {
    border-color: #666;
}

.g_id.tranzit .region {
    text-align: left;
    background: #fdff6e;
}

.g_id.tranzit .region i {
    padding-left: 0;
}

.g_id.small.tranzit .region i label {
    width: 0.6em;
    height: 0.5em;
    top: -0.3em;
    right: 0.3em;
}

.g_id.big.tranzit .region i label {
    width: 0.9em;
    height: 0.65em;
    top: -0.3em;
    right: 0.5em;
}

.g_id.tranzit .region b {
    margin-left: -0.3em;
}


/* GID Styles - commercial */
.g_id.commercial {
    background: #ffed24;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.g_id.commercial span {
    border-color: #666;
}

.g_id.commercial .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.commercial .region i label {
    display: none;
}


/* GID Styles - police */
.g_id.police {
    color: #fff;
    background: #064db9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.g_id.police span {
    border-color: #fff;
}

.g_id.police .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.police .region i label {
    display: none;
}


/* GID Styles - military */
.g_id.military {
    color: #fff;
    background: #1f1a17;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.g_id.military span {
    border-color: #fff;
}

.g_id.military .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.military .region i label {
    display: none;
}


/* GID Styles - diplomacy */
.g_id.diplomacy {
    color: #fff;
    background: #df0000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

.g_id.diplomacy span {
    border-color: #fff;
}

.g_id.diplomacy .region {
    text-align: center;
    padding-left: 0.175em;
    padding-right: 0.175em;
}

.g_id.small.diplomacy .region i label {
    display: none;
}



/* GID Styles - federal */
.g_id.federal {
    background: #fff;
    color: #111;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.g_id.federal span {
    border-color: #666;
}

.g_id.federal .region {
    text-align: left;
}

.g_id.federal .region i {

}

.g_id.federal .region b,
.g_id.federal .region em {
    display: none;
}

.g_id.federal .region i {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.g_id.federal .region i label {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


#g_id_preview {
    position: absolute;
    top: -7px;
    left: 26px;
}

#where_is_my_car {
    display: none;
}

#fleets_menu {
    margin-left: 5px;
}

#refresh_data {
    margin-left: 5px;
}

.select_car {
    margin: 0 0 0 5px;
    display: none;
}

.select_fleet {
    margin-left: 5px;
}

.select_car ul li a {
    position: relative;
    padding: 6px 110px 6px 10px;
}

.select_car ul li a .g_id {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -11px;
    display: inline-block;
}

.header_tools {
    position: relative;
    height: 40px;
}

.map_notice {
    padding: 25px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1010;
    line-height: 1.4em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.map_notice p {
    font-size: 15px;
}

.info_window_content {
    padding: 2px 0 0 0;
}

.info_window_content .g_id {
    display: inline-block;
    margin: 0 0 -5px 4px;
}

.marker_label {
    position: relative;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-shadow: 0 -1px 0 #333;
    font-size: 11px;
    display: block;
    padding: 0 4px 2px;
    margin: 18px 0 0 10px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    border-radius: 0px 4px 4px 4px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
}

.marker_label .g_id {
    font-size: 12px;
    margin: 0;
}

.marker_tip {
    position: absolute;
    display: block;
    background: url(../img/icons/label_tip.gif);
    height: 10px;
    width: 10px;
    top: 8px;
    left: 0px;
    opacity: 0.75;
}

.marker_label .g_id {
    margin: 4px 0 3px;
    text-shadow: none;
}

.cg_soc {
    border: 1px solid #b4dbef;
    background: #f9fdff url(../img/bg/blue_gradient.png) repeat-x bottom;
    padding: 20px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cg_soc * {
    color: #1b4e68;
}

.socials {
    margin: 0 0 15px;
}

.socials a {
    display: block;
    width: 41px;
    height: 41px;
    float: left;
    margin: 0 10px 0 0;
}

.socials a.vk {
    background: url(../img/icons/vkontakte.png);
}

.socials a.fb {
    background: url(../img/icons/facebook.png);
}

.hero_login {
    text-shadow: 0px 1px 0px #ffffff;
    background: rgba(220, 220, 220, 0.4);
    width: 440px;
    padding: 30px 40px 15px;
    margin: 50px auto 30px;
    -webkit-box-shadow:  0px 2px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 2px 7px 0px rgba(0, 0, 0, 0.4);
}

.hero_login .form-actions {
    background: none;
    margin: 0;
    padding-bottom: 0;
}

.hero_login h1 {
    color: #444;
    margin: 0 0 0.5em;
    font-size: 3em;
}

#car_name_info .badge {
    text-shadow: none;
}

#car_name_info .g_id {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 3px;
}

.info_tab_header {
}

.navbar-fixed-top {
    z-index: 3;
    position: relative;
}

.calendar_place {
    width: 240px;
    opacity: 0.8;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    top: -275px;
    line-height: 25px;
    color: #fff;
    left: 50%;
    margin-left: -120px;
    height: 270px;
    z-index: 2;
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #232323, #191919);
    background-image: -ms-linear-gradient(top, #232323, #191919);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#232323), to(#191919));
    background-image: -webkit-linear-gradient(top, #232323, #191919);
    background-image: -o-linear-gradient(top, #232323, #191919);
    background-image: linear-gradient(top, #232323, #191919);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232323', endColorstr='#191919', GradientType=0);
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.calendar_place:hover {
    opacity: 0.96;
}

.opened .caret {
    border-top: 4px solid transparent;
    border-bottom: 4px solid #fff;
    margin-top: 7px;
    margin-left: 2px;
}

.closed .caret {
    border-top: 4px solid #fff;
    border-bottom: 4px solid transparent;
    margin-top: 11px;
    margin-left: 2px;
}

.calendar_place a.opener {
    text-decoration: none;
}

.calendar_place a.opener:link,
.calendar_place a.opener:visited {
    color: #999;
}

.calendar_place a.opener:hover,
.calendar_place a.opener:active {
    color: #fff;
}

.calendar_place a.opener:hover .caret {
    opacity: 1;
}

.map_container {
    position: relative;
}

.map_container .side_block {
    display: inline-block;
    position: absolute;

    height: 140px;

    *display: inline;
    /* IE7 inline-block hack */
    width: 220px;

    *zoom: 1;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    *margin-left: .3em;
}

.map_container .side_block.closed .side_block_content {
    display: none;
}

.map_container .side_block b {
    display: block;
    cursor: pointer;
}

.map_container .side_block .caret {
    float: right;
    margin-top: 7px;
}

.map_container .caret {
    border-bottom-color: transparent;
    border-top-color: #000;
}

.map_container .closed .caret {
    border-bottom-color: #000;
    border-top-color: transparent;
    margin-top: 3px;
}

.map_container .side_block table th {
    width: 115px;
}

.map_container .side_block table td {
    width: 105px;
}

.map_container .side_block .progress {
    height: 7px !important;
}

.map_container .side_block table td,
.map_container .side_block table th {
    text-align: left;
    padding: 3px 5px 3px 0;
    font-size: 0.85em;
    line-height: 1.2em;
}

.side_block_content {
    padding-top: 5px;
}

.map_container #right_side table {
    width: 100%;
}

#registered_info {
    bottom: 5px;
    right: 4px;
    display: none;
}

#registered_data {
    bottom: 5px;
    right: 250px;
    display: none;
}

.heading_icon {
    background: url(../img/icons/arrows.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 4px -6px -3px;
}

.hi_n {
    background-position: 0 0;
}

.hi_ne {
    background-position: -16px 0;
}

.hi_e {
    background-position: -32px 0;
}

.hi_se {
    background-position: -48px 0;
}

.hi_s {
    background-position: -64px 0;
}

.hi_sw {
    background-position: -80px 0;
}

.hi_w {
    background-position: -96px 0;
}

.hi_nw {
    background-position: -112px 0;
}

.indicator {
    height: 7px !important;
    margin-bottom: 0;
}

.indicator .bar {
    height: 7px !important;
    margin-bottom: 0;
}

.info_window_content .indicator, .info_window_content .indicator .bar {
    height: 16px !important;
}

.fleet_table .hdop_indicator {
    margin: 5px 0 0;
}

.unactive_row * {
    opacity: 0.8;
}

#load_more {
    width: 100%;
    display: none;
}

.event_item {

}

.event_item .icon-eye-open {
    opacity: 0.3;
    position: relative;
    top: 3px;
    right: -20px;
    line-height: 18px;
    float: right;
    width: 18px;
}

.event_item .close {
    top: 1px;
    right: -20px;
    display: none;
}

.event_item .icon-eye-open:hover {
    opacity: 0.5;
}


/* Dispatcher */
.dispatcher_devices {
    min-width: 900px;
}

.dispatcher_devices .item {
    display: block;
    min-width: 300px;
    padding: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    margin: 0 2% 2em 0;
    background-color: #f5f5f5;
    text-shadow: 0 1px 0 #fff;
}

.dispatcher_devices .item .item_head {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 10px 12px 10px;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #ccc;
    cursor: move;
}

.dispatcher_devices .item .item_head .g_id {
    display: inline-block;
    margin: 0 0 -5px 0;
    font-weight: normal;
    font-size: 0.86em;
}

.dispatcher_devices .item .item_head .car_name {
    margin-right: 7px;
    margin-bottom: 5px;
}

.dispatcher_devices .item h2 {
    font-size: 14px;
    margin: 0;
    line-height: 1.3em;
}

.dispatcher_devices .item .address_item {
    margin-top: 9px;
    line-height: 1.3em;
    font-size: 11px;
}

.dispatcher_devices .item .params_inline {
    padding: 10px 12px 2px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

.dispatcher_devices .item .params_inline .params_inline_item {
    float: left;
    width: 31%;
    margin: 0 2% 5px 0;
}

.dispatcher_devices .item .params_inline .parameters .csq_indicator {
    margin-bottom: 4px !important;
}

.dispatcher_devices .item .params_inline .params_inline_item .heading_icon {
    margin-bottom: -5px;
}

.dispatcher_devices .item .params_inline .params_inline_item .label {
    line-height: 10px;
}

.dispatcher_devices .item .map {
    height: 150px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

.dispatcher_devices .ui-sortable-placeholder {
    visibility: visible !important;
    border-style: dashed;
    border-color: #ccc;
    background: #fff;
    box-shadow: none;
}

.dispatcher_devices .addition_params {
    margin: 0 !important;
    width: 100%;
    border-top: 1px solid #fff;

}

.dispatcher_devices .item .addition_params th {
    padding: 7px 12px 0;
    width: 33%;
    border: none;
    text-align: left;
    font-size: 11px;
    vertical-align: top;
}

.dispatcher_devices .item .addition_params td {
    padding: 0 12px 5px;
    width: 35%;
    border: none;
    text-align: left;
    font-size: 11px;
    vertical-align: middle;
}

.dispatcher_devices .item .addition_params .progress,
.dispatcher_devices .item .addition_params .progress .bar {
    margin: 0;
    height: 7px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}