@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?12482876');
  src: url('../font/fontello.eot?12482876#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?12482876') format('woff'),
       url('../font/fontello.ttf?12482876') format('truetype'),
       url('../font/fontello.svg?12482876#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12482876#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin1:before { content: '\e801'; } /* '' */
.icon-target-2:before { content: '\e93a'; } /* '' */
.icon-marquee:before { content: '\e87c'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-th-large:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-plus-squared:before { content: '\e813'; } /* '' */
.icon-minus-squared:before { content: '\e812'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e815'; } /* '' */
.icon-link-ext-alt:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-lock-open-alt:before { content: '\e818'; } /* '' */
.icon-pin:before { content: '\e819'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-eye-off:before { content: '\e81b'; } /* '' */
.icon-tag:before { content: '\e81c'; } /* '' */
.icon-bookmark:before { content: '\e81d'; } /* '' */
.icon-bookmark-empty:before { content: '\e81e'; } /* '' */
.icon-flag:before { content: '\e81f'; } /* '' */
.icon-flag-empty:before { content: '\e820'; } /* '' */
.icon-flag-checkered:before { content: '\e839'; } /* '' */
.icon-download-cloud:before { content: '\e821'; } /* '' */
.icon-upload-cloud:before { content: '\e822'; } /* '' */
.icon-reply:before { content: '\e823'; } /* '' */
.icon-reply-all:before { content: '\e825'; } /* '' */
.icon-forward:before { content: '\e824'; } /* '' */
.icon-export:before { content: '\e829'; } /* '' */
.icon-export-alt:before { content: '\e826'; } /* '' */
.icon-pencil:before { content: '\e828'; } /* '' */
.icon-pencil-squared:before { content: '\e827'; } /* '' */
.icon-edit:before { content: '\e83a'; } /* '' */
.icon-print:before { content: '\e83b'; } /* '' */
.icon-retweet:before { content: '\e83c'; } /* '' */
.icon-keyboard:before { content: '\e838'; } /* '' */
.icon-comment:before { content: '\e837'; } /* '' */
.icon-chat:before { content: '\e836'; } /* '' */
.icon-comment-empty:before { content: '\e834'; } /* '' */
.icon-chat-empty:before { content: '\e835'; } /* '' */
.icon-bell:before { content: '\e832'; } /* '' */
.icon-bell-alt:before { content: '\e833'; } /* '' */
.icon-attention:before { content: '\e831'; } /* '' */
.icon-attention-circled:before { content: '\e830'; } /* '' */
.icon-location:before { content: '\e82f'; } /* '' */
.icon-direction:before { content: '\e82a'; } /* '' */
.icon-compass:before { content: '\e82b'; } /* '' */
.icon-trash:before { content: '\e82c'; } /* '' */
.icon-doc:before { content: '\e82d'; } /* '' */
.icon-docs:before { content: '\e82e'; } /* '' */
.icon-doc-text:before { content: '\e83f'; } /* '' */
.icon-doc-inv:before { content: '\e83d'; } /* '' */
.icon-doc-text-inv:before { content: '\e83e'; } /* '' */
.icon-folder:before { content: '\e840'; } /* '' */
.icon-folder-open:before { content: '\e841'; } /* '' */
.icon-folder-empty:before { content: '\e842'; } /* '' */
.icon-folder-open-empty:before { content: '\e843'; } /* '' */
.icon-rss:before { content: '\e844'; } /* '' */
.icon-phone:before { content: '\e845'; } /* '' */
.icon-phone-squared:before { content: '\e846'; } /* '' */
.icon-cog:before { content: '\e847'; } /* '' */
.icon-cog-alt:before { content: '\e848'; } /* '' */
.icon-wrench:before { content: '\e849'; } /* '' */
.icon-calendar:before { content: '\e84a'; } /* '' */
.icon-calendar-empty:before { content: '\e84b'; } /* '' */
.icon-login:before { content: '\e84c'; } /* '' */
.icon-logout:before { content: '\e84d'; } /* '' */
.icon-mic:before { content: '\e84e'; } /* '' */
.icon-mute:before { content: '\e84f'; } /* '' */
.icon-volume-off:before { content: '\e850'; } /* '' */
.icon-volume-down:before { content: '\e851'; } /* '' */
.icon-volume-up:before { content: '\e852'; } /* '' */
.icon-headphones:before { content: '\e853'; } /* '' */
.icon-clock:before { content: '\e854'; } /* '' */
.icon-lightbulb:before { content: '\e855'; } /* '' */
.icon-block:before { content: '\e856'; } /* '' */
.icon-resize-full:before { content: '\e858'; } /* '' */
.icon-resize-full-alt:before { content: '\e857'; } /* '' */
.icon-resize-small:before { content: '\e859'; } /* '' */
.icon-resize-vertical:before { content: '\e85a'; } /* '' */
.icon-resize-horizontal:before { content: '\e85b'; } /* '' */
.icon-move:before { content: '\e85c'; } /* '' */
.icon-zoom-in:before { content: '\e85d'; } /* '' */
.icon-zoom-out:before { content: '\e85e'; } /* '' */
.icon-down-circled2:before { content: '\e85f'; } /* '' */
.icon-left-circled2:before { content: '\e860'; } /* '' */
.icon-right-circled2:before { content: '\e861'; } /* '' */
.icon-down-dir:before { content: '\e862'; } /* '' */
.icon-up-dir:before { content: '\e863'; } /* '' */
.icon-left-dir:before { content: '\e864'; } /* '' */
.icon-right-dir:before { content: '\e865'; } /* '' */
.icon-down-open:before { content: '\e866'; } /* '' */
.icon-left-open:before { content: '\e867'; } /* '' */
.icon-right-open:before { content: '\e868'; } /* '' */
.icon-up-open:before { content: '\e869'; } /* '' */
.icon-cw:before { content: '\e898'; } /* '' */
.icon-ccw:before { content: '\e899'; } /* '' */
.icon-arrows-cw:before { content: '\e86a'; } /* '' */
.icon-level-up:before { content: '\e86e'; } /* '' */
.icon-level-down:before { content: '\e86d'; } /* '' */
.icon-shuffle:before { content: '\e86b'; } /* '' */
.icon-exchange:before { content: '\e86c'; } /* '' */
.icon-play:before { content: '\e890'; } /* '' */
.icon-play-circled:before { content: '\e87d'; } /* '' */
.icon-play-circled2:before { content: '\e87e'; } /* '' */
.icon-stop:before { content: '\e88f'; } /* '' */
.icon-pause:before { content: '\e891'; } /* '' */
.icon-to-end:before { content: '\e892'; } /* '' */
.icon-to-end-alt:before { content: '\e893'; } /* '' */
.icon-to-start:before { content: '\e894'; } /* '' */
.icon-to-start-alt:before { content: '\e895'; } /* '' */
.icon-fast-fw:before { content: '\e896'; } /* '' */
.icon-fast-bw:before { content: '\e897'; } /* '' */
.icon-eject:before { content: '\e871'; } /* '' */
.icon-target:before { content: '\e870'; } /* '' */
.icon-signal:before { content: '\e86f'; } /* '' */
.icon-award:before { content: '\e872'; } /* '' */
.icon-desktop:before { content: '\e873'; } /* '' */
.icon-inbox:before { content: '\e874'; } /* '' */
.icon-globe:before { content: '\e875'; } /* '' */
.icon-sun:before { content: '\e88d'; } /* '' */
.icon-cloud:before { content: '\e88c'; } /* '' */
.icon-flash:before { content: '\e88e'; } /* '' */
.icon-moon:before { content: '\e879'; } /* '' */
.icon-umbrella:before { content: '\e88b'; } /* '' */
.icon-flight:before { content: '\e87a'; } /* '' */
.icon-font:before { content: '\e88a'; } /* '' */
.icon-subscript:before { content: '\e87b'; } /* '' */
.icon-table:before { content: '\e889'; } /* '' */
.icon-columns:before { content: '\e888'; } /* '' */
.icon-crop:before { content: '\e887'; } /* '' */
.icon-scissors:before { content: '\e886'; } /* '' */
.icon-briefcase:before { content: '\e89c'; } /* '' */
.icon-suitcase:before { content: '\e89d'; } /* '' */
.icon-ellipsis:before { content: '\e952'; } /* '' */
.icon-ellipsis-vert:before { content: '\e953'; } /* '' */
.icon-off:before { content: '\e89b'; } /* '' */
.icon-road:before { content: '\e89a'; } /* '' */
.icon-barcode:before { content: '\e89e'; } /* '' */
.icon-book:before { content: '\e876'; } /* '' */
.icon-ajust:before { content: '\e877'; } /* '' */
.icon-tint:before { content: '\e878'; } /* '' */
.icon-check:before { content: '\e880'; } /* '' */
.icon-check-empty:before { content: '\e881'; } /* '' */
.icon-circle:before { content: '\e882'; } /* '' */
.icon-circle-empty:before { content: '\e883'; } /* '' */
.icon-dot-circled:before { content: '\e884'; } /* '' */
.icon-asterisk:before { content: '\e885'; } /* '' */
.icon-magnet:before { content: '\e89f'; } /* '' */
.icon-chart-bar:before { content: '\e8a1'; } /* '' */
.icon-ticket:before { content: '\e8a0'; } /* '' */
.icon-credit-card:before { content: '\e8a2'; } /* '' */
.icon-floppy:before { content: '\e8a3'; } /* '' */
.icon-megaphone:before { content: '\e8a4'; } /* '' */
.icon-key:before { content: '\e8a5'; } /* '' */
.icon-rocket:before { content: '\e8a6'; } /* '' */
.icon-bug:before { content: '\e8a7'; } /* '' */
.icon-certificate:before { content: '\e8a8'; } /* '' */
.icon-beaker:before { content: '\e8ab'; } /* '' */
.icon-magic:before { content: '\e8aa'; } /* '' */
.icon-truck:before { content: '\e8a9'; } /* '' */
.icon-money:before { content: '\e8ac'; } /* '' */
.icon-sort-alt-up:before { content: '\e8ad'; } /* '' */
.icon-crown:before { content: '\e87f'; } /* '' */
.icon-sort-name-up:before { content: '\e8af'; } /* '' */
.icon-sort-name-down:before { content: '\e8b0'; } /* '' */
.icon-sort-number-up:before { content: '\e8b1'; } /* '' */
.icon-sort-number-down:before { content: '\e8b2'; } /* '' */
.icon-gauge:before { content: '\e8b3'; } /* '' */
.icon-sitemap:before { content: '\e8b4'; } /* '' */
.icon-coffee:before { content: '\e8b5'; } /* '' */
.icon-food:before { content: '\e8b6'; } /* '' */
.icon-ambulance:before { content: '\e8b7'; } /* '' */
.icon-medkit:before { content: '\e8b8'; } /* '' */
.icon-h-sigh:before { content: '\e8b9'; } /* '' */
.icon-hospital:before { content: '\e8ba'; } /* '' */
.icon-building:before { content: '\e8bb'; } /* '' */
.icon-smile:before { content: '\e8bc'; } /* '' */
.icon-frown:before { content: '\e8bd'; } /* '' */
.icon-meh:before { content: '\e8be'; } /* '' */
.icon-anchor:before { content: '\e8bf'; } /* '' */
.icon-shield:before { content: '\e8c0'; } /* '' */
.icon-bullseye:before { content: '\e8c1'; } /* '' */
.icon-wheelchair:before { content: '\e8c2'; } /* '' */
.icon-dribbble:before { content: '\e8c3'; } /* '' */
.icon-facebook-squared:before { content: '\e8c4'; } /* '' */
.icon-gplus-squared:before { content: '\e8c7'; } /* '' */
.icon-stackoverflow:before { content: '\e951'; } /* '' */
.icon-tumblr-squared:before { content: '\e8c8'; } /* '' */
.icon-twitter-squared:before { content: '\e8c5'; } /* '' */
.icon-vimeo-squared:before { content: '\e8c6'; } /* '' */
.icon-youtube-play:before { content: '\e8c9'; } /* '' */
.icon-blank:before { content: '\e8ca'; } /* '' */
.icon-layout:before { content: '\e8e1'; } /* '' */
.icon-menu:before { content: '\e8e0'; } /* '' */
.icon-lock-1:before { content: '\e8e3'; } /* '' */
.icon-lock-open:before { content: '\e8e4'; } /* '' */
.icon-eye-1:before { content: '\e8e2'; } /* '' */
.icon-attention-1:before { content: '\e8df'; } /* '' */
.icon-location-1:before { content: '\e93d'; } /* '' */
.icon-map:before { content: '\e93e'; } /* '' */
.icon-direction-1:before { content: '\e93c'; } /* '' */
.icon-compass-1:before { content: '\e93b'; } /* '' */
.icon-rss-1:before { content: '\e8da'; } /* '' */
.icon-shareable:before { content: '\e93f'; } /* '' */
.icon-mute-1:before { content: '\e8db'; } /* '' */
.icon-sound:before { content: '\e8dc'; } /* '' */
.icon-volume:before { content: '\e8dd'; } /* '' */
.icon-hourglass:before { content: '\e8de'; } /* '' */
.icon-lamp:before { content: '\e8d9'; } /* '' */
.icon-light-up:before { content: '\e8d7'; } /* '' */
.icon-adjust:before { content: '\e8d8'; } /* '' */
.icon-target-3:before { content: '\e941'; } /* '' */
.icon-signal-1:before { content: '\e8cc'; } /* '' */
.icon-battery:before { content: '\e8cd'; } /* '' */
.icon-network:before { content: '\e94e'; } /* '' */
.icon-cd:before { content: '\e8d0'; } /* '' */
.icon-globe-1:before { content: '\e942'; } /* '' */
.icon-cloud-2:before { content: '\e943'; } /* '' */
.icon-cloud-thunder:before { content: '\e8d3'; } /* '' */
.icon-flash-1:before { content: '\e8d4'; } /* '' */
.icon-flight-1:before { content: '\e8d5'; } /* '' */
.icon-paper-plane:before { content: '\e94f'; } /* '' */
.icon-leaf:before { content: '\e950'; } /* '' */
.icon-brush:before { content: '\e8d6'; } /* '' */
.icon-magnet-1:before { content: '\e94d'; } /* '' */
.icon-infinity:before { content: '\e8cf'; } /* '' */
.icon-erase:before { content: '\e8eb'; } /* '' */
.icon-chart-line:before { content: '\e8ea'; } /* '' */
.icon-chart-bar-1:before { content: '\e8d1'; } /* '' */
.icon-chart-area:before { content: '\e8ec'; } /* '' */
.icon-water:before { content: '\e940'; } /* '' */
.icon-air:before { content: '\e8cb'; } /* '' */
.icon-credit-card-1:before { content: '\e8e7'; } /* '' */
.icon-database:before { content: '\e8e8'; } /* '' */
.icon-drive:before { content: '\e8e9'; } /* '' */
.icon-key-1:before { content: '\e8ce'; } /* '' */
.icon-flow-tree:before { content: '\e8d2'; } /* '' */
.icon-flow-parallel:before { content: '\e8e6'; } /* '' */
.icon-gauge-1:before { content: '\e8e5'; } /* '' */
.icon-camera-1:before { content: '\e945'; } /* '' */
.icon-th-outline:before { content: '\e8ed'; } /* '' */
.icon-th-1:before { content: '\e8ee'; } /* '' */
.icon-th-large-outline:before { content: '\e8ef'; } /* '' */
.icon-th-large-1:before { content: '\e8f0'; } /* '' */
.icon-th-list-outline:before { content: '\e8f1'; } /* '' */
.icon-th-list-1:before { content: '\e8f2'; } /* '' */
.icon-home-outline:before { content: '\e944'; } /* '' */
.icon-eye-outline:before { content: '\e8f4'; } /* '' */
.icon-eye-2:before { content: '\e8f5'; } /* '' */
.icon-tag-1:before { content: '\e8f6'; } /* '' */
.icon-tags:before { content: '\e8f7'; } /* '' */
.icon-bookmark-1:before { content: '\e8f9'; } /* '' */
.icon-flag-1:before { content: '\e8f8'; } /* '' */
.icon-flag-filled:before { content: '\e8f3'; } /* '' */
.icon-location-outline:before { content: '\e94c'; } /* '' */
.icon-location-2:before { content: '\e948'; } /* '' */
.icon-map-1:before { content: '\e949'; } /* '' */
.icon-direction-outline:before { content: '\e94a'; } /* '' */
.icon-direction-2:before { content: '\e94b'; } /* '' */
.icon-compass-2:before { content: '\e947'; } /* '' */
.icon-cog-outline:before { content: '\e8fa'; } /* '' */
.icon-cog-1:before { content: '\e8fb'; } /* '' */
.icon-play-outline:before { content: '\e914'; } /* '' */
.icon-play-1:before { content: '\e912'; } /* '' */
.icon-stop-outline:before { content: '\e913'; } /* '' */
.icon-stop-1:before { content: '\e915'; } /* '' */
.icon-pause-outline:before { content: '\e916'; } /* '' */
.icon-pause-1:before { content: '\e917'; } /* '' */
.icon-fast-fw-outline:before { content: '\e918'; } /* '' */
.icon-fast-fw-1:before { content: '\e919'; } /* '' */
.icon-rewind-outline:before { content: '\e91b'; } /* '' */
.icon-rewind:before { content: '\e91a'; } /* '' */
.icon-record-outline:before { content: '\e91c'; } /* '' */
.icon-record:before { content: '\e91d'; } /* '' */
.icon-eject-alt:before { content: '\e911'; } /* '' */
.icon-bat1:before { content: '\e902'; } /* '' */
.icon-bat2:before { content: '\e903'; } /* '' */
.icon-bat3:before { content: '\e904'; } /* '' */
.icon-bat4:before { content: '\e905'; } /* '' */
.icon-bat-charge:before { content: '\e906'; } /* '' */
.icon-plug:before { content: '\e901'; } /* '' */
.icon-target-1:before { content: '\e8fe'; } /* '' */
.icon-wifi-outline:before { content: '\e8fc'; } /* '' */
.icon-wifi:before { content: '\e8fd'; } /* '' */
.icon-globe-alt-outline:before { content: '\e907'; } /* '' */
.icon-globe-alt:before { content: '\e908'; } /* '' */
.icon-sun-1:before { content: '\e909'; } /* '' */
.icon-sun-filled:before { content: '\e90a'; } /* '' */
.icon-cloud-1:before { content: '\e90b'; } /* '' */
.icon-flash-outline:before { content: '\e90c'; } /* '' */
.icon-flash-2:before { content: '\e90d'; } /* '' */
.icon-moon-1:before { content: '\e90e'; } /* '' */
.icon-waves-outline:before { content: '\e900'; } /* '' */
.icon-waves:before { content: '\e8ff'; } /* '' */
.icon-snow:before { content: '\e946'; } /* '' */
.icon-power-outline:before { content: '\e90f'; } /* '' */
.icon-power:before { content: '\e910'; } /* '' */
.icon-database-1:before { content: '\e91e'; } /* '' */
.icon-infinity-outline:before { content: '\e91f'; } /* '' */
.icon-infinity-1:before { content: '\e920'; } /* '' */
.icon-link-1:before { content: '\e95c'; } /* '' */
.icon-rss-alt:before { content: '\e95d'; } /* '' */
.icon-share:before { content: '\e95e'; } /* '' */
.icon-headphones-1:before { content: '\e95f'; } /* '' */
.icon-clock-1:before { content: '\e960'; } /* '' */
.icon-target-4:before { content: '\e955'; } /* '' */
.icon-bat-empty:before { content: '\e922'; } /* '' */
.icon-bat-half:before { content: '\e923'; } /* '' */
.icon-bat-full:before { content: '\e924'; } /* '' */
.icon-bat-charge-1:before { content: '\e925'; } /* '' */
.icon-equalizer:before { content: '\e926'; } /* '' */
.icon-aperture:before { content: '\e927'; } /* '' */
.icon-steering-wheel:before { content: '\e954'; } /* '' */
.icon-layers:before { content: '\e956'; } /* '' */
.icon-layers-alt:before { content: '\e921'; } /* '' */
.icon-chart-pie:before { content: '\e959'; } /* '' */
.icon-chart-pie-alt:before { content: '\e95a'; } /* '' */
.icon-key-2:before { content: '\e957'; } /* '' */
.icon-key-inv:before { content: '\e958'; } /* '' */
.icon-dial:before { content: '\e95b'; } /* '' */
.icon-search-1:before { content: '\e92c'; } /* '' */
.icon-mail-1:before { content: '\e92d'; } /* '' */
.icon-lock-2:before { content: '\e92a'; } /* '' */
.icon-lock-open-1:before { content: '\e92b'; } /* '' */
.icon-wrench-1:before { content: '\e92e'; } /* '' */
.icon-signal-2:before { content: '\e928'; } /* '' */
.icon-chart-bar-2:before { content: '\e929'; } /* '' */
.icon-buffer:before { content: '\e92f'; } /* '' */
.icon-cog-2:before { content: '\e938'; } /* '' */
.icon-cogs:before { content: '\e939'; } /* '' */
.icon-off-1:before { content: '\e936'; } /* '' */
.icon-road-1:before { content: '\e937'; } /* '' */
.icon-braille:before { content: '\e933'; } /* '' */
.icon-tint-1:before { content: '\e932'; } /* '' */
.icon-asterisk-1:before { content: '\e931'; } /* '' */
.icon-fire:before { content: '\e930'; } /* '' */
.icon-glasses:before { content: '\e934'; } /* '' */
.icon-adult:before { content: '\e935'; } /* '' */
.icon-sort-alt-down:before { content: '\e8ae'; } /* '' */